<link rel="stylesheet" href="./insert-node.component.css">
<form [formGroup]="insertFrm" (ngSubmit)="onSubmit()">
    <div class="main-input">
        <img class="img-from-input"
            src="https://media.istockphoto.com/vectors/teenage-boy-pastry-chef-with-menu-vector-id466762778?k=20&m=466762778&s=612x612&w=0&h=rcgZ_xwhmT4Z_rAUJ0Yl8bQk7OmMAEWKisMhA4nFGUg="
            alt="">
        <div class="from-input">
            <h2 class="title">
                Form Input Chef
            </h2>
            <div class="name-input ">
                <div class="fname pdt10px">
                    <label for="fname">First Name:</label><br>
                    <input type="text" class="size-input size-name" id="fname" formControlName="fname"><br>
                    <div
                        *ngIf="insertFrm.controls.fname.invalid && (insertFrm.controls.fname.dirty ||insertFrm.controls.fname.touched)">
                        <small *ngIf="insertFrm.controls.fname.hasError('required')" class="text-danger">First name is
                            required.
                        </small>
                    </div>
                </div>
                <div class="lname pdt10px">
                    <label for="lname">Last Name:</label><br>
                    <input type="text" class="size-input size-name" id="lname" formControlName="lname"><br>
                    <div
                        *ngIf="insertFrm.controls.lname.invalid && (insertFrm.controls.lname.dirty ||insertFrm.controls.lname.touched)">
                        <small *ngIf="insertFrm.controls.lname.hasError('required')" class="text-danger">Last Name is
                            required.</small>
                    </div>
                </div>
                <div class="id pdt10px">
                    <label for="id">ID:</label><br>
                    <input type="text" class="size-input size-id" id="id" formControlName="id"><br>
                    <div
                        *ngIf="insertFrm.controls.id.invalid && (insertFrm.controls.id.dirty ||insertFrm.controls.id.touched)">
                        <small *ngIf="insertFrm.controls.id.hasError('required')" class="text-danger">ID is
                            required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="one-row ">
                <div class="sex pdt10px">
                    <label for="sex">Sex</label><br>
                    <select form="sex" formControlName="sex">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="star-date pdt10px ">
                    <label for="starDate">Star Date:</label><br>
                    <input type="date" class="size-input" formControlName="starDate"><br>
                </div>
            </div>
            <div class="experience pdt10px ">
                <label for="experience">Experience:</label><br>
                <input type="text" class="size-input" formControlName="experience"><br>
            </div>
            <div class="description pdt10px">
                <label for="description">Description:</label><br>
                <input type="text" class="size-input" formControlName="description"><br>
            </div>
            <div class="avatar pdt10px">
                <label for="avatar">Avatar:</label><br>
                <input type="" class="size-input" formControlName="avatar"><br>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!insertFrm.valid">Submit</button>
        </div>
    </div>
</form>